VITE_MAIL_API_ENDPOINT="https://email.services.elevatedigitech.in/CreateEmaillog"
VITE_USERNAME="username"
VITE_PASSWORD="password"
VITE_TEMPLATE_CODE="TEMPLATE-CODE"
VITE_REPLY_TEMPLATE_CODE="TEMPLATE-CODE"
VITE_NEWSLETTER_TEMPLATE_CODE="TEMPLATE-CODE"
VITE_NEWSLETTER_REPLY_TEMPLATE_CODE="TEMPLATE-CODE"
VITE_SENDER_EMAIL="sender@example.com"
VITE_SENDER_NAME="Sender Name"

